-# TODO : TO BE DELETED AFTER REFACTORING

-# .grid-x.grid-margin-x
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span= t('settings.distribution_by_sector.shared.form.as_of')
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       = f.input :as_of, label: false, as: 'date_picker'
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span= t('settings.distribution_by_sector.shared.form.microenterprise')
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       = f.input :microenterprise, label: false, as: "string", input_html: { :class => "input-group-field cleave_format two_digits_percentage" }
-#       .input-group-label= "%"
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span= t('settings.distribution_by_sector.shared.form.sme')
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       = f.input :sme, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip input-group-field cleave_format two_digits_percentage", :title => t(".tooltip_sme") }
-#       .input-group-label= "%"
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span= t('settings.distribution_by_sector.shared.form.corporate')
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       = f.input :corporate, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip input-group-field cleave_format two_digits_percentage", :title => t(".tooltip_corporate") }
-#       .input-group-label= "%"
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span= t('settings.distribution_by_sector.shared.form.housing')
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       = f.input :housing, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip input-group-field cleave_format two_digits_percentage", :title => t(".tooltip_housing") }
-#       .input-group-label= "%"
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span= t('settings.distribution_by_sector.shared.form.personal')
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       = f.input :housing, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip input-group-field cleave_format two_digits_percentage", :title => t(".tooltip_personal") }
-#       .input-group-label= "%"
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span= t('settings.distribution_by_sector.shared.form.other')
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       = f.input :other, label: false, as: "string", input_html: { "data-tooltip" => true, :class => "has-tip input-group-field cleave_format two_digits_percentage", :title => t(".tooltip_other") }
-#       .input-group-label= "%"
-#   .cell.small-12.medium-6.large-6.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span= t('settings.distribution_by_sector.shared.form.total')
-#     .cell.small-6.medium-6.large-6.grid-x.align-middle
-#       %span#distribution_by_loan_purpose_total_sum
-#   .cell.small-12.medium-12.large-12.grid-x.align-middle
-# %hr
-# .grid-x.grid-margin-x.text-center
-#   .cell.auto.cta_center
-#     = f.submit t('settings.shared.submit'), class: "cta"
