.btn_load_countries_file {
	overflow: hidden;
	position: relative;
	&:hover {
		cursor: pointer;
	}
}

.btn_import_countries {
	background: white;
	cursor: pointer;
	display: block;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	padding: 20px;
	&:hover {
		cursor: pointer;
	}
}

.cta_submit_countries {
	background: none !important;
	color: inherit !important;
	border: none !important;
	padding: 0 !important;
	font: inherit !important;
	cursor: pointer !important;
	outline: inherit !important;
}
