#covenant_tab {
	min-height: 70vh;
}
#impact_and_esg_tab {
	min-height: 60vh;
}
#positive_impact_tab, #principal_adverse_impact_tab {
	min-height: 50vh;
}
#covenant2_tab {
	min-height: 85vh;
}
.institution_row {
	cursor: pointer;
}
