.cell.small-12.medium-4.section_3
  .mb20
    %a.cta{href: fund_settings_institution_groups_path} Create
  %h2 Institution Groups
  .app-dashboard-search-bar-container
    -# %input.app-dashboard-search.ml0{:placeholder => "Search", :type => "search"}
    -#   %i.app-dashboard-search-icon.fa.fa-search.pr30
    - if !setting_collection.empty?
      - setting_collection.each do |group|
        .mt10.mb10
          %a{href: fund_settings_institution_group_path(id: group.id), class: ("bold" if setting&.id == group.id)}= group.name
    - else
      %p No groups registered yet.