-# # TODO : TO BE DELETED AFTER REFACTORING

-# .grid-x.grid-margin-x
-#   .cell.small-12.medium-12.large-12.grid-x.align-middle
-#     .cell.small-6.medium-6.large-6
-#       %h4= t('Institution Profile')
-#     .cell.small-6.medium-6.large-6
-#       = f.submit t('settings.shared.submit'), class: "cta"

-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     %span= t('settings.profile.shared.form.as_of')
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     = f.input :as_of, label: false, as: 'date_picker'
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     %span= t('settings.profile.shared.form.tier')
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     = f.input :tier, label: false, collection: InstitutionProfile.tier_options, input_html: { "data-tooltip" => true, :class => "has-tip", :title => t("settings.institutions.shared.form.tooltip_tier") }
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     %span= t('settings.profile.shared.form.regulatory_status')
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     = f.input :regulatory_status, label: false, collection: Institution::REGULATORYSTATUS, html: { class: 'edit' }
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     %span= t('settings.profile.shared.form.cpps_adoption')
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     = f.input :cpps_adoption, label: false, input_html: { "data-tooltip" => true, :class => "has-tip", :title => t("settings.institutions.shared.form.tooltip_cpps_adoption") }, collection: InstitutionProfile.cpps_adoption_options
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     %span= t('settings.profile.shared.form.use_of_standard_reporting_tools')
-#   .cell.small-6.medium-6.large-6.grid-x.align-middle
-#     = f.input :use_of_standard_reporting_tools, label: false, input_html: { "data-tooltip" => true, :class => "has-tip", :title => t("settings.institutions.shared.form.tooltip_use_of_standard_reporting_tools") }, as: :select, collection: InstitutionProfile.use_of_standard_reporting_tools_options
-# %hr
