.cell.small-12.medium-4.section_3
  .mb20
    %a.cta{href: fund_settings_interest_rate_types_path}= t("general.create")
  %h2= t('activerecord.models.interest_rate_type.other').capitalize
  .app-dashboard-search-bar-container
    -# %input.app-dashboard-search.ml0{:placeholder => "Search", :type => "search"}
    -#   %i.app-dashboard-search-icon.fa.fa-search.pr30
    - if !setting_collection.empty?
      - setting_collection.each do |interest_rate_type|
        .mt10.mb10
          %span.top{interest_rate_type.description ? { data: {tooltip: ""}} : {}, title: interest_rate_type.description}
            %a{href: fund_settings_interest_rate_type_path(id: interest_rate_type.id), class: ("bold" if setting&.id == interest_rate_type.id)}= interest_rate_type.name
    - else
      %p= t(".no_interest_rate_type_registered_yet")