= link_to "Edit", fund_settings_institution_institution_financial_edit_path(fund_id: fund.id, institution_id: institution.id), class: "cta text-center mb5"
= render partial: "settings/institutions/financial/financial", locals: {institution: setting}