-# TODO : TO BE DELETED AFTER REFACTORING

-# .grid-x.grid-margin-x
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.as_of")
-#       .cell.auto
-#         = setting.clients_as_of_date
-#   .cell.small-12.medium-6.large-6
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.internal_impact_score")
-#       .cell.auto
-#         = setting.internal_impact_score
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.gross_loan_portfolio")
-#       .cell.auto
-#         = setting.gross_loan_portfolio_usd_value
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong=t("settings.impact_indicator.shared.form.average_loan_size_to_end_borrowers")
-#       .cell.auto
-#         = setting.avg_loan_size_usd_value
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.number_of_clients")
-#       .cell.auto
-#         = setting.number_of_clients_integer_value
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.number_of_active_borrowers")
-#       .cell.auto
-#         = setting.borrowers_count_integer_value
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.number_of_female_borrowers")
-#       .cell.auto
-#         = setting.female_borrowers_count_integer_value
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.number_of_rural_borrowers")
-#       .cell.auto
-#         = setting.rural_borrowers_count_integer_value
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.number_of_sme_borrowers")
-#       .cell.auto
-#         = setting.number_of_sme_borrowers_integer_value
-#   .cell.small-12.medium-6.large-6
-#     .grid-x
-#       .cell.small-12.medium-6.large-6
-#         %strong= t("settings.impact_indicator.shared.form.number_of_micro_borrowers")
-#       .cell.auto
-#         = setting.number_of_micro_borrowers_integer_value
