- if institution.pipeline_loans.empty?
  = t("settings.institutions.show.no_loans_pipeline_for_this_institution")
- else
  %table.stack.unstriped.scroll
    %thead
      %tr
        %td.text-center
        - LoanDecorator.not_accepted_loans_columns_titles.each do |title|
          %td.text-center= title
    %tbody
      - institution.pipeline_loans.each do |loan|
        %tr
          %td.text-center
            %ul
              %li= link_to t('.show'), fund_loan_path(fund_id: loan.fund, id: loan)
          - loan.not_accepted_loans_columns_values.each do |column|
            %td.text-center= column
