$noir:#2F3B48;
$snow:#ffffff;
$rose:#ef4a59;
$primary:#6F8FB8;
$secondary:#61A754;
$darkgrey:#9f9f9f;
$lightgrey:#cbcbcb;
$warning:#FA1010;

$light_blue: #B5C5DA;
$lighter_blue: #e6e6e6;

$primary_light: #edeef2;
