@charset "utf-8";
@import 'color';
@import 'mixin';
@import 'settings';
@import 'front/settings_admin';
@import '~foundation-sites/dist/css/foundation';
@import '~motion-ui/motion-ui';
@import 'components/burger';
@import '~foundation-sites/scss/foundation.scss';
@include foundation-global-styles;
@include foundation-grid;
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'components/covenants';
@import 'components/institutions';
@import 'components/imgroups';
@import 'components/loans';
@import 'components/currencies';
@import 'components/recyclebin';
@import 'components/countries';
@import 'components/users';

// @include foundation-flex-grid;
// //
// @include foundation-xy-grid-classes;
// @include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
// // @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-responsive-embed;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;
// // @include foundation-prototype-classes;
// @include motion-ui-transitions;
// @include motion-ui-animations;
// base
@import 'base';

// vendor styles
@import 'vendor/aos';
@import 'vendor/slick-carousel';
@import 'vendor/index-menu';

// mixins
@import 'mixin';
@import 'mixins';

// global styles
@import 'global/app-dashboard';
@import 'global/layout';

// custom components
@import 'components';

// @import url("//fonts.googleapis.com/css?family=Roboto:300,400,700");

@font-face {
	font-family: 'Roboto';
	src: url('./fonts/roboto-bold-webfont.woff2') format('woff2'),
		url('./fonts/roboto-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
		url('./fonts/roboto-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/roboto-light-webfont.woff2') format('woff2'),
		url('./fonts/roboto-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@mixin foundation-float-classes {
	.float-left {
		float: left !important;
	}

	.float-right {
		float: right !important;
	}

	.float-center {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.clearfix {
		@include clearfix;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pagination_spip {
	margin-bottom: 20px;
	text-align: center;
	color: $primary;
	padding: 8px;
	.on {
		color: $secondary;
	}
}
.formulaire_crayon .crayon-active {
	font-size: 15px !important;
	color: $noir !important;
	min-height: 250px !important;
	p {
		max-width: 100% !important;
	}
}

body {
	color: $noir;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	@include font-size(16px);
}
a {
	color: $primary;
}

main {
	display: block;
}

.h1_hidden {
	font-size: 0px !important;
	text-indent: -99999999px !important;
}

.slick-prev:before,
.slick-next:before {
	color: $primary;
}

.slick-next {
	right: 20px;
	z-index: 99;
	// top: 30%;
}

.slick-prev {
	left: 30px;
	z-index: 99;
	// top: 30%;
}

.slick-slide {
	outline: none;
}

.bold {
	font-weight: 700;
}

.row_100 {
	max-width: 80% !important;
}

.row_200 {
	max-width: 100% !important;
}

.width_100 {
	width: 100% !important;
}

.aligne_center {
	text-align: center;
}

.margin_section {
	margin-top: 70px !important;
	margin-bottom: 70px !important;
}

.padding_section {
	padding-top: 70px !important;
	padding-bottom: 70px !important;
}

.clear {
	clear: both;
}

.parent {
	position: relative;
	width: 50%;
	height: 200px;
	margin: 20px auto;
}

.warning {
	color: $warning;
	p,
	h1,
	h2,
	h3,
	div {
		color: $warning;
	}
}

.success {
	color: $secondary;
	p,
	h1,
	h2,
	h3,
	div {
		color: $secondary;
	}
}

.primary {
	color: $primary;
}

.bg_primary {
	background: $primary;
}

.relative {
}

.child {
	padding: 20px;
	&.both {
		@include center;
	}
	&.horizontal {
		@include center(true, false);
	}
	&.vertical {
		@include center(false, true);
	}
}

h1,
h2,
h3,
h4 h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	@include font-size(30px);
	font-weight: 900;
	text-transform: uppercase;
	// font-family: '';
	// color: ;
}

h2 {
	@include font-size(22px);
	// font-family: '';
	// text-transform: ;
	// color: ;
}

h3 {
	@include font-size(18px);
	font-weight: 400;
	color: $noir;

	// font-family: '';
	// color: ;
}
.soustitre {
	@include font-size(15px);
	font-weight: 300;
	color: $darkgrey;

	// font-family: '';
	// color: ;
}

h4 {
	// @include font-size();
	// font-family: '';
}

h5 {
	// @include font-size();
	// font-family: '';
}

li {
	list-style: none !important;
}

.footer_crea {
	clear: both;
	a {
		@include font-size(13px);
		text-align: center;
		width: 100%;
		display: block;
		padding: 10px;
		color: $noir;
		@include transition(0.3s);
		&:hover {
			color: $rose;
			.heartbeat {
				&:after,
				&:before {
					position: absolute;
					content: '';
					background: $rose;
				}
			}
		}
	}
}

[id='#404'] {
	header {
		min-height: 100%;
	}
}

// MODAL ==============================================================================================
.reveal {
	padding: 5px 35px;
	border: 0px !important;
	@include border-radius(10px);
}
// MODAL END ==============================================================================================

// BUTTON =============================================================================================
.button {
	background: $primary;
	&:hover {
		background: $secondary;
	}
}

// BUTTON =============================================================================================
// DASHBOARD ----------------------------------------------------------------------------------------
.app-dashboard-top-nav-bar {
	background: $snow;
}
.app-dashboard-sidebar {
	background-color: $noir;
	color: $snow;
	.app-dashboard-sidebar-inner {
		.menu {
			padding-top: 10px;
		}
		ul li a {
			color: $snow;
			@include font-size(14px);
			padding-left: 20px !important;
		}
	}
	.is-active {
		font-weight: 900;
		border-left: solid 3px $snow;
	}
}

.app-dashboard-top-bar-actions {
	display: block;
	position: relative;
	.settings {
		float: right;
		display: block;
		position: relative;
		cursor: pointer;
		@include transition(0.35s);
		&:hover {
			opacity: 0.8;
		}
		p {
			float: left;
			margin-top: 13px;
			font-weight: 400;
			margin-right: 12px;
		}
		img {
			float: right;
			margin-top: 12px;
			max-width: 27px;
		}
	}
}

.app-dashboard-logo {
	// margin-left: 70px;
	// margin-right: 165px;
	display: block;
	img {
		max-width: 100px;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
		display: block;
	}
}

.app-dashboard-search-bar-container {
	.app-dashboard-search {
		background: $snow;
		border: 1px solid $darkgrey;
		@include border-radius(10px);
		margin-left: 20px;
	}
}

.app-dashboard-search-icon {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('../img/search.png');
	width: 16px;
	height: 20px;
	background-repeat: no-repeat;
}

.breadcrumbs a {
	color: $primary;
}

.cta,
input[type='submit'] {
	color: $secondary;
	background: transparent;
	padding: 8px 30px;
	text-align: center;
	@include border-radius(6px);
	display: inline-block;
	border: solid 1px #8dc183;
	@include transition(0.35s);
	cursor: pointer;
	&:hover {
		border: solid 1px #8dc183;
		background: #8dc183;
		color: $snow;
	}
	&:focus {
		outline: none;
	}
}

.cta_button {
	padding: 12px 30px;
}

.cta_small {
	padding: 3px 10px;
}

.cta_warning {
	color: #fc6565;
	border: solid 1px #fc6565 !important;
	&:hover {
		background: #fc6565;
		border: solid 1px #fc6565 !important;
		color: snow;
		cursor: pointer;
	}
	&_button {
		padding: 12px 30px;
	}
}

.cta_warning2 {
	color: snow;
	background: $warning;
	border: solid 1px $warning;
	&:hover {
		border: solid 1px #fc6565;
		background: #fc6565;
		color: $snow;
	}
}

.cta_primary {
	color: $primary;
	background: transparent;
	border: solid 1px $primary !important;
	&:hover {
		border: solid 1px $primary !important;
		background: white;
		color: $primary;
	}
}

.cta_alert {
	color: #b88b37;
	border: solid 1px #b88b37 !important;
	&:hover {
		border: solid 1px #d3ae6a !important;
		background: #d3ae6a;
		color: $snow;
	}
}
.cta_grey {
	color: $darkgrey;
	border: solid 1px $darkgrey !important;
	&:hover {
		border: solid 1px #7c7c7c !important;
		background: #7c7c7c;
		color: $snow;
	}
}

.cta_right {
	float: right;
}

.cta_left {
	float: left;
}

.cta_bottom {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.cta_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hollow,
.label {
	@include border-radius(6px);
}

// .cta_user {
//     color: $noir;
//     margin-bottom: 10px;
//     background: $snow;
//     padding: 8px 30px;
//     text-align: center;
//     @include border-radius(100px);
//     display: inline-block;
//     border: solid 2px $snow;
//     @include transition(0.35s);
//     &:hover {
//         border: solid 2px $primary;
//         background: $snow;
//         color: $primary;
//     }
// }

// .cta_user_active {
//     border: solid 2px $primary;
//     &:hover {
//     }
// }

input.cta {
	line-height: 24px !important;
}

.see_funds {
	float: left;
	width: 100%;
	text-align: left;
	a {
		display: inline-block;
		margin-top: 10px;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 0px;
		@include font-size(13px);
		margin-right: 0px;
	}
}

.off-canvas-content {
	margin-left: 13% !important;
}
.position-left {
	width: 13%;
}

hr {
	max-width: 100%;
}

.menu-icon {
	background: $noir;
}

.notice_info {
	margin-bottom: 15px;
	background: $snow;
	border: solid 1px $secondary;
	color: $secondary;
	padding: 10px 20px;
	display: inline-block;
	@include border-radius(10px);
}

.alert_info {
	margin-bottom: 15px;
	background: $snow;
	border: solid 1px $warning;
	color: $warning;
	padding: 10px 20px;
	display: inline-block;
	@include border-radius(10px);
}
// DASHBOARD ----------------------------------------------------------------------------------------

// TILES ----------------------------------------------------------------------------------------

.tiles_home {
	@include transition(0.35s);
	padding: 10px 20px;
	background: $snow;
	@include border-radius(10px);
	margin-bottom: 15px;
	border: solid 2px $snow;
	color: $noir;
	-webkit-box-shadow: 1px 2px 5px 0px $lightgrey;
	-moz-box-shadow: 1px 2px 5px 0px $lightgrey;
	box-shadow: 1px 2px 5px 0px $lightgrey;
	@include breakpoint(1600px down) {
		@include font-size(11px);
		padding: 10px 5px;
	}
	&:hover {
		border: solid 2px $primary;
		hr {
			opacity: 0.4;
		}
	}
	hr {
		margin-top: 0;
		margin-bottom: 15px;
		@include transition(0.35s);
	}
	.tiles_name {
		text-transform: uppercase;
		@include font-size(12px);
		font-weight: 900;
	}
}

.tiles_home.active {
	background: $primary;
	color: $snow;
	font-weight: 700;
	border-color: $primary;
}

.warning_tiles {
	border: solid 2px $warning;
}

// TILES ----------------------------------------------------------------------------------------
// SECTIONS 3 ----------------------------------------------------------------------------------------
.section_3 {
	border-right: solid 1px rgba($noir, 0.2);
}
.section_4 {
	border-left: solid 1px rgba($noir, 0.2);
	margin-left: 0px !important;
}
// END SECTIONS 3 ----------------------------------------------------------------------------------------
// menu-icon ----------------------------------------------------------------------------------------
.menu-picto {
	img {
		width: 50px;
		margin-left: 10px;
		max-width: 23px;
	}
}
// menu-icon ----------------------------------------------------------------------------------------
// menu_hoverp ----------------------------------------------------------------------------------------
.menu_hover {
	z-index: 20;
	position: absolute;
	top: 50px;
	right: 20px;
	width: 300px;
	background: $primary;
	opacity: 0;
	display: none;
	padding: 10px 15px;
	color: $snow;
	@include border-radius(5px);
	@include breakpoint(small down) {
		width: 150px;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		right: 20px;
		top: -10px;
		width: 20px;
		height: 5px;
		border-bottom: solid 10px $primary;
		border-left: solid 10px transparent;
		border-right: solid 10px transparent;
	}
	h3 {
		color: $snow;
		text-transform: uppercase;
	}
	a {
		color: $snow;
		@include transition(0.35s);
		margin-bottom: 5px;
		&:hover {
			opacity: 0.6;
		}
	}
}

.display_menu {
	display: block !important;
	opacity: 10 !important;
}

.logout {
	cursor: pointer;
	width: 100%;
	margin-top: 10px;
	img {
		max-width: 25px;
		display: inline-block;
		margin-right: 5px;
	}
	span {
		display: inline-block;
	}
}
// menu_hoverp ----------------------------------------------------------------------------------------

// form ----------------------------------------------------------------------------------------

.input.error input {
	margin-bottom: 0;
}

.input-group-field {
	border-radius: 0.5rem 0 0 0.5rem !important;
}
.input-group-label {
	border-radius: 0 0.5rem 0.5rem 0 !important;
}

input,
select,
textarea {
	border-radius: 0.5rem !important;
	border-bottom: 1px solid #cacaca !important;
	box-shadow: none !important;
	&:focus {
		border-bottom: 1px solid #8a8a8a !important;
	}
}

input.warning,
input.warning:focus {
	border: solid 1px $warning;
}

.institution_probability_of_default,
.institution_gross_loan_portfolio,
.institution_revenues,
.institution_provision_for_loss,
.institution_net_income,
.institution_total_assets,
.institution_net_income_distributed_as_dividends,
.institution_international_liabilities,
.institution_domestic_liabilities,
.institution_npls,
.institution_liabilities,
.institution_write_off,
.institution_equity,
.institution_trade_and_services,
.institution_agriculture,
.institution_production,
.institution_consumption,
.institution_other,
.institution_microenterprise_usd,
.institution_sme_usd,
.institution_corporate_usd,
.institution_housing_usd,
.institution_personal_usd,
.institution_other_usd,
.institution_microfinance_portfolio_size,
.institution_sme_portfolio_size_under_35k,
.institution_sme_portfolio_size_under_50k,
.institution_percentage_rural_ptf,
.institution_percentage_of_women_ptf,
.institution_overall_sptf_alinus_score,
.institution_define_and_monitor_social_goals,
.institution_ensure_commitment_to_social_goals,
.institution_product_design_to_meet_clients_need,
.institution_treat_clients_responsibly,
.institution_treat_employees_responsibly,
.institution_balance_financial_and_performance,
.institution_promote_environmental_protection,
.institution_trade_and_services,
.institution_agriculture,
.institution_production,
.institution_education,
.institution_housing,
.institution_consumption,
.institution_other,
.institution_npls,
.institution_avg_loan_size,
.institution_deposit_amount {
	width: 100%;
}

.edit_institution_rating [type=date],
.edit_institution_rating [type=text],
.edit_institution_profile [type=date] {
	margin: 0;
}

.edit_institution_rating .input,
.edit_institution_profile .input {
	width: 50%;
}

.field_value {
	background-color: $light-gray;
}

// user form

.cta_user {
	color: $noir;
	margin-bottom: 10px;
	background: transparent;
	padding: 8px 20px;
	text-align: center; 
	border-radius: 0.5rem;
	display: inline-block;
	border: solid 2px $primary;
	@include transition(0.35s);
	&:hover {
		border: solid 2px $primary;
		background: $snow;
		color: $primary;
	}
	&:focus {
		outline: none;
	}
}

.input-group-label {
	height: 39px;
}

.ccy_label {
	padding: 0px !important;
	width: 45px;
}

.span_ccy {
	margin: auto;
}

.cta_user_active {
	border: solid 2px $primary;
}

.users_form {
	label {
		&:hover {
			cursor: pointer;
		}
	}
	.cta_user {
		padding-bottom: 0;
	}
	input[type='checkbox'] {
		position: relative;
		top: 1px;
	}
}

small.error {
	color: $warning;
}

textarea {
	min-height: 200px;
}

textarea.no-resize {
	resize: none;
	margin-bottom: 1rem;
}

.institution_title {
	display: flex;
	align-items: center;
}

.institution_title label {
	margin: 16px 8px 8px;
}

.institution_title input {
	margin-top: 16px;
	margin-bottom: 8px;
}

.institution_subentity .input-group,
.institution_subentity [type=date],
.institution_subentity [type=text],
.institution_subentity [type=number] {
	margin-bottom: 0;
}

.institution_subentity select {
	width: unset;
}

.institution-watchlist {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
}

.institution-labels {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
}

// TABLES ----------------------------------------------------------------------------------------
.tab-align {
	vertical-align: top;
	text-align: center;
}

// form ----------------------------------------------------------------------------------------

// Login ----------------------------------------------------------------------------------------

.zone_img_login {
	background: url('../img/bg-login.jpg');
	background-size: cover !important;
	background-position: center !important;
	position: relative;
	height: 100vh;
	.box_100 {
		height: 100%;
	}
	.bg_blue {
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.9;
		position: absolute;
		background: $primary;
	}
	.txt_login {
		z-index: 1;
		position: relative;
		display: block;
		color: $snow;
		padding: 20px 40px;
		h1 {
			@include font-size(25px);
		}
		h2 {
			@include font-size(22px);
		}
		p {
			max-width: 600px;
		}
	}
}

.logo_login {
	img {
		max-width: 150px;
		margin-bottom: 80px;
	}
}

.lost_password {
	a {
		display: block;
		width: 100%;
	}
}

.inputs_login {
	padding: 20px 80px 20px 80px;
	@include breakpoint(medium down) {
		padding: 30px;
	}

	input[type='submit'] {
		margin-top: 10px;
		width: 100%;
	}
}
// Login ----------------------------------------------------------------------------------------

//TEST BLOC SLICK A SUPPR ==============================================================================
.first_slick {
	width: 100%;
	height: 100%;
	.block_slick {
		background: blue;
		color: $snow;
		min-height: 200px;
		width: 100px;
		height: auto;
	}
}

//END TEST BLOC SLICK A SUPPR ==============================================================================
// footer ===============================================================================================
.map {
	position: relative;
	#googleMap1 {
		position: relative !important;
		width: 100%;
		height: 400px !important;
		display: block;
	}
}

// footer ===============================================================================================
@include breakpoint(medium down) {
	.app-dashboard.shrink-medium .app-dashboard-sidebar {
		width: 13%;
		overflow-y: hidden;
	}
	.app-dashboard.shrink-medium .menu li a span {
		display: block;
		color: $snow;
		opacity: 1;
	}
	.app-dashboard-open-sidebar {
		display: none !important;
	}
}
@include breakpoint(small down) {
	.off-canvas-content {
		margin-left: 0% !important;
	}

	.app-dashboard.shrink-medium .app-dashboard-sidebar {
		.menu {
			overflow: visible;
		}
		width: 250px;
		ul {
			li {
				a {
					color: $snow !important;
				}
			}
		}
	}
	.app-dashboard-logo {
		img {
			margin-left: 15px;
			margin-right: 0;
		}
	}
	.navigation--button {
		display: block;
	}
}

// Hide arrows on number inputs
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.select2-container{
	display: block !important;
}

.select2-container--default .select2-selection--single {
	border-radius: 6px;
    border-color: #cacaca;
    padding: 18px 0 18px 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 7px !important;
}

.select2-selection__rendered{
	margin-top: -12px;
}

.critical_case_loan_line{
	background-color: #f0f0f0 !important;
}

.subtitle {
	padding-left: 30px;
}
